extends layout

block content
  h1= title
  
  ul
  each product in search_results
    li Category: #{product.category}, price: #{product.price}, brand: #{product.brand} , Name: #{product.name}



  else
    li There are no products .